/* styles */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

.big-container {
    max-width: 1200px;
    box-sizing: border-box;
}

.container-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.container-v {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 16px;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    padding: 8px 160px;
}

.footer {
    text-align: center;
    padding: 24px;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px; 
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 48px;
    gap: 32px;
}

.card {
    width: 200px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}

.placeholder-card {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 160px;
    background-color: #E5E7EB;
}

.italic-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.source {
    display: flex;
    justify-content: flex-end;
    padding: 16px;

    font-weight: bold;
    font-size: 24px;
    
}

.call {
    display: flex;
    padding: 160px;
    justify-content: center;
    align-items: center;
}

.call .big-container {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    width: 1200px;
    border-radius: 8px;
    padding: 48px 96px;
}

.call .container-v {
    gap: 4px;
}

.action-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call .hero-button {
    flex: 0 0 auto;
    align-self: flex-end;
    border: 2px solid #F9FAF8;
}

.logo, .main {
    color: #F9FAF8;
    font-weight: 900;
}

.main {
    font-size: 48px;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li {
    padding: 0px;
    margin: 0px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.hero-button {
    background-color: #3882F6;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #666666;
    align-self: stretch;
    flex: 1;
}

.pad-header {
    padding: 160px 0px;
}